<?xml version="1.0" encoding="UTF-8"?>
  <configuration>
        <system.webServer>
                <staticContent>
                    <remove fileExtension=".woff" />
                    <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
                    <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
                    <mimeMap fileExtension=".webp" mimeType="image/webp" />
                    <mimeMap fileExtension="apk" mimeType="application/vnd.android.package-archive" />
                </staticContent>
        </system.webServer>
    </configuration>
