/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  --global-baseline: calc(1rem / 2);
  --global-font-size: 16;

  /* colors */

  --global-color-alpha: #016FB7;
  --global-color-alpha-light: #6a00fd;
  --global-color-alpha-x-light: #8b33fb;

  --global-color-alpha-transparent: #4e00ea4d;

  --global-color-neutral-xxxx-light: #ffffff;
  --global-color-neutral-xxx-light: #f6f5f7;
  --global-color-neutral-xx-light: #ecebed;
  --global-color-neutral-x-light: #dcdae0;
  --global-color-neutral-light: #c8c6cc;
  --global-color-neutral: #8b8c9a;
  --global-color-neutral-dark: #787480;
  --global-color-neutral-x-dark: #605d66;
  --global-color-neutral-xx-dark: #47454d;
  --global-color-neutral-xxx-dark: #232226;
  --global-color-neutral-xxxx-dark: #17161a;

  /* fonts */

  --global-font-weight-regular: 400;
  --global-font-weight-semiBold: 600;

  /* shadows */

  --global-input-focus-boxShadow: 0 0 0 3px
    var(--global-color-alpha-transparent);

  /* borders */

  --global-border-button-borderRadius: 10px;

  /* transitions */

  /* whitespace */

  --global-whitespace-xs: calc(var(--global-baseline) * 0.5); /* = 4px */
  --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
  --global-whitespace-lg: calc(var(--global-baseline) * 3); /*  = 24px */
  --global-whitespace-xl: calc(var(--global-baseline) * 4); /*  = 32px */
  --global-whitespace-xxl: calc(var(--global-baseline) * 5); /*  = 40px */
  --global-whitespace-xxxl: calc(var(--global-baseline) * 6); /*  = 48px */
  --global-whitespace-xxxxl: calc(var(--global-baseline) * 7); /*  = 56px */
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  font-size: 100%;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  color: var(--global-color-neutral-xx-dark);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-color-background);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
  background: var(--global-color-alpha);
  color: white;
  text-shadow: none;
}

::selection {
  background: var(--global-color-alpha);
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: var(--global-font-weight-semiBold);
}

h1 {
  color: var(--global-color-neutral-xxxx-dark);
  font-size: calc(24rem / var(--global-font-size));
  line-height: calc(32 / 24);
  margin: 0 0 var(--global-whitespace-lg);
}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 24px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 var(--global-whitespace-lg);
}

h4,
h5,
h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 var(--global-whitespace-lg);
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 var(--global-whitespace-lg);
}

ul,
ol {
  padding-left: var(--global-whitespace-lg);
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 var(--global-whitespace-lg);
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: var(--global-whitespace-sm);
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 var(--global-whitespace-lg);
}

a {
  transition: all var(--transition-alpha);
  color: var(--color-alpha);
  outline-color: var(--color-alpha);
  outline-width: medium;
  outline-offset: 2px;
}

a:visited,
a:active {
  color: var(--color-alpha);
}

a:hover,
a:focus {
  color: var(--color-alpha-light);
}

label,
input {
  display: inline-block;
}

select {
  width: 100%;
}

input::placeholder {
  color: var(--color-neutral);
}

input:disabled {
  cursor: not-allowed;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

.o-list {
  list-style: none;
  padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/


/*
    Components: header
    ---
*/

.c-header{
  height: 6rem;
  width: 100%;
  background-color: var(--global-color-neutral);
  padding: 0 var(--global-whitespace-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--global-whitespace-lg);
}

.c-header__logo{
  width: 5rem;
}

.c-header__action{
  display: flex;
  align-items: center;
}

.c-header__user{
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  color: var(--global-color-neutral-xxxx-light);
  margin: 0 var(--global-whitespace-md);
}

.c-header__logoutBtn{
  background-color: var(--global-color-alpha);
  padding: var(--global-whitespace-sm) var(--global-whitespace-md);
  border-radius: var(--global-border-button-borderRadius);
  color: var(--global-color-neutral-xxxx-light);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
}


/*
    Components: page
    ---
*/

.c-page-title{
  line-height: 4rem;
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--global-whitespace-xxxl);
}

/*
    Components: ranking container
    ---
*/

.c-ranking-container{
  margin: var(--global-whitespace-xxxl);
}

/*
    Components: ranking table
    ---
*/

.c-ranking-table {
  width: 100%;
}

.c-ranking-table--rounds{

}

.c-ranking-table__header{
  text-align: left;
  padding: var(--global-whitespace-sm);
  border-bottom: solid 2px black;
}

.c-ranking-table__item{
  text-align: left;
  padding: var(--global-whitespace-sm);
  border-bottom: solid 1px black;
}




/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
  padding-top: 0 !important;
}

.u-mb-clear {
  margin-bottom: 0 !important;
}

.u-mb-xs {
  margin-bottom: var(--global-whitespace-xs) !important;
}

.u-mb-sm {
  margin-bottom: var(--global-whitespace-sm) !important;
}

.u-mb-md {
  margin-bottom: var(--global-whitespace-md) !important;
}

.u-mb-lg {
  margin-bottom: var(--global-whitespace-xl) !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
  max-width: 27em !important;
}

.u-max-width-sm {
  max-width: 32em !important;
}

.u-max-width-md {
  max-width: 50em !important;
}

.u-max-width-lg {
  max-width: 63.5em !important;
}

.u-max-width-none {
  max-width: none !important;
}

/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
  text-align: center;
}

.u-align-center {
  margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
  font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
